<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.tests.mapper.TTestInformationMapper">
    
    <resultMap type="TTestInformation" id="TTestInformationResult">
        <result property="id"    column="id"    />
        <result property="testName"    column="test_name"    />
        <result property="testUrl"    column="test_url"    />
        <result property="createTime"  column="create_time"  />
        <result property="testPictureUrl" column="test_picture_url"  />
    </resultMap>

    <resultMap id="TTestInformationResults" type="TestUrls">
        <result property="testUrl" column="test_url"   />
    </resultMap>

    <sql id="selectTTestInformationVo">
        select id, test_name, test_url, create_time, test_picture_url from t_test_information
    </sql>

    <select id="selectTTestInformationList" parameterType="TTestInformation" resultMap="TTestInformationResult">
        <include refid="selectTTestInformationVo"/>
        <where>  
            <if test="testName != null  and testName != ''"> and test_name like concat('%', #{testName}, '%')</if>
            <if test="testUrl != null  and testUrl != ''"> and test_url = #{testUrl}</if>
        </where>
    </select>

    <select id="selectPictureUrl" parameterType="TestUrls" resultMap="TTestInformationResults">
        select test_url from t_test_information
        <where>
            <if test="testUrl != null  and testUrl != ''"> and test_url = #{testUrl}</if>
        </where>
    </select>

    <select id="selectTTestInformationById" parameterType="Long" resultMap="TTestInformationResult">
        <include refid="selectTTestInformationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTTestInformation" parameterType="TTestInformation" useGeneratedKeys="true" keyProperty="id">
        insert into t_test_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="testName != null">test_name,</if>
            <if test="testUrl != null">test_url,</if>
            <if test="testPictureUrl != null">test_picture_url</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="testName != null">#{testName},</if>
            <if test="testUrl != null">#{testUrl},</if>
            <if test="testPictureUrl != null">#{testPictureUrl},</if>
            now()
         </trim>
    </insert>

    <update id="updateTTestInformation" parameterType="TTestInformation">
        update t_test_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="testName != null">test_name = #{testName},</if>
            <if test="testUrl != null">test_url = #{testUrl},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTTestInformationById" parameterType="Long">
        delete from t_test_information where id = #{id}
    </delete>

    <delete id="deleteTTestInformationByIds" parameterType="String">
        delete from t_test_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>