<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.score.mapper.TScoreInformationMapper">
    
    <resultMap type="TScoreInformation" id="TScoreInformationResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="testId"    column="test_id"    />
        <result property="score"    column="score"    />
        <result property="createTime" column="create_time"  />
        <result property="testName" column="test_name"  />
        <result property="username" column="username"  />
        <result property="age" column="age"  />
        <result property="sex" column="sex"  />
    </resultMap>

    <sql id="selectTScoreInformationVo">
        select id, user_id, test_id, score from t_score_information
    </sql>

    <select id="selectTScoreInformationList" parameterType="TScoreInformation" resultMap="TScoreInformationResult">
        select u.username, u.age, u.sex, t.test_name, s.score, s.create_time from t_user_information u
        left join t_score_information s on u.id=s.user_id
        left join t_test_information t on s.test_id=t.id
        <where>  
            <if test="username != null "> and username = #{username}</if>
            <if test="testName != null "> and test_name = #{testName}</if>
        </where>
    </select>

    <select id="selectTScoreInformationById" parameterType="Long" resultMap="TScoreInformationResult">
        <include refid="selectTScoreInformationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTScoreInformation" parameterType="TScoreInformation" useGeneratedKeys="true" keyProperty="id">
        insert into t_score_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="testId != null">test_id,</if>
            <if test="score != null">score,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="testId != null">#{testId},</if>
            <if test="score != null">#{score},</if>
         </trim>
    </insert>

    <update id="updateTScoreInformation" parameterType="TScoreInformation">
        update t_score_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="testId != null">test_id = #{testId},</if>
            <if test="score != null">score = #{score},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTScoreInformationById" parameterType="Long">
        delete from t_score_information where id = #{id}
    </delete>

    <delete id="deleteTScoreInformationByIds" parameterType="String">
        delete from t_score_information where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>